h1{
    color: blueviolet;
}

.text1{
    color: rgb(16, 200, 41) !important;
}

.text1{
    color: #f002f9;
}

#text2{
    color: rgba(7, 88, 88, 0.505);
}

.container form input{
    padding: 10px;
}

.container form .name{
    margin-right: 20px;
}